.block-custom-status {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    background: #d1d1cc;
    z-index: 20;
    box-shadow: 0px 15px 55px -10px;
    border-radius: 3px;
    top: 0px;
    left: 0px;
}
.block-custom-status h2 {
    display: none;
}
.status-message {
    overflow: scroll;
    width: 200px;
    height: 100px;
    padding-left: 0px;
}
.status-button {
    border-radius: 100px;
    background: #e61c1f;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.row {
    display: flex;
    background: #666360;
    padding-top: 0px;
    margin-top: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.status-title {
    color: #FFFFFF;
    width: 100px;
    margin: auto;
    margin-top: 3px;
}
.status-message-mode {
    margin-left: 8px;
}
.overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
}
